# Esse arquivo é importante para o sistema de rotas

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php/$1 [L,QSA]

# OU
# RewriteRule ^(.*)$ index.php?url=/$1 [L,QSA]